<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <span style="background-color: lightcoral;">Ganesh Dutt</span>
    <span>Ganesh Dutt</span>

    <p style="background-color: lightcoral;">Ganesh Dutt</p>
    <p>Ganesh Dutt</p>

    <ul>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
        <li>Services</li>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
        <li>Services</li>
    </ul>
    <ol>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
        <li>Services</li>
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
        <li>Services</li>
    </ol>


    <ul>
        <li>Home
            <ol>
                <li>Home1.1
                    <ul>
                        Home1.2.1
                    </ul>
                </li>
                <li>Home1.2</li>
            </ol>
        </li>
        <li>About</li>
        <li>Contact</li>
        <li>Services</li>
    </ul>
    <dl>

        <dt>HTML</dt>
        <dd>Lorem ipsum dolor sit amet.</dd>
        <dt>CSS</dt>
        <dd>Lorem ipsum dolor sit amet.</dd>
    </dl>

    <!-- void  -->
    <br>

    <!-- <div>
        <h1>Hello, World!</h1>
        <h2>This is a subheading.</h2>
    </div>
    <nav>
        <h1>Hello, World!</h1>
        <h2>This is a subheading.</h2>
    </nav> -->

    <video src="./MERN_Stack_Developer_Journey_Cinematic_AI_Video (1).mp4" width="300px" controls
        poster="./view-3d-practicing-lawyer.jpg"></video>


    <!-- 
    <video src="./MERN_Stack_Developer_Journey_Cinematic_AI_Video (1).mp4" width="300px" controls muted autoplay
        loop></video> -->
    <audio src="./MERN_Stack_Developer_Journey_Cinematic_AI_Video (1).mp4" width="300px" controls autoplay loop></audio>

    <details>
        <summary>para</summary>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime molestias accusantium quae ut laudantium at
            repellat eligendi vero ullam neque earum, voluptas expedita porro similique cumque ad? Illo, dolores
            voluptatum!
        </p>
    </details>

    <p>Lorem ipsum <strong>dolor</strong> sit amet, consectetur adipisicing <em>elit</em>. Maxime molestias accusantium
        quae ut
        laudantium
        at
        <hr>
        repellat eligendi <s>vero</s> ullam neque earum, voluptas expedita porro similique cumque ad? Illo, dolores
        <sup>2</sup>
        <sub>2</sub>
        voluptatum!
    </p>
    <a href="https://ganeshdutt.vercel.app" target="_blank">Ganesh Dutt</a>

    <!-- inline , block , void  -->
    <!-- inline  -->


</body>

</html>