<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Lorem ipsum dolor sit amet.</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero autem doloribus quasi incidunt hic laudantium
        repellendus nam soluta voluptates est quas possimus, officia tenetur aperiam provident, maxime perferendis quos
        ipsum.</p>

    <!-- <p>data</p>     -->
    <!-- inline, block , void  -->
    <span style="background-color:red">Lorem, ipsum dolor.</span>
    <span style="background-color:red">Lorem, ipsum dolor.</span>
    <a href="https:ganeshdutt.vercel.app">Ganesh Dutt</a>

    <p style="background-color: lightblue;">Lorem ipsum dolor sit amet.</p>
    <p style="background-color: lightblue;">Lorem ipsum dolor sit amet.</p>

    <!-- <img src="https://ganeshdutt.vercel.app/images/g1_bgremove.png" alt="" width="300px"> -->


    <!-- table -->
    <table border="1">
        <caption>Table</caption>
        <tr>
            <th>Heading1</th>
            <th>Heading2</th>
            <th>Heading3</th>
            <th>Heading4</th>
        </tr>
        <tr>
            <td>data1</td>
            <td rowspan="6">data2</td>
            <td>data3</td>
            <td>data4</td>
        </tr>
        <tr>
            <td>data1</td>
            <!-- <td>data2</td> -->
            <td>data3</td>
            <td>data4</td>
        </tr>
        <tr>
            <td>data1</td>
            <!-- <td>data2</td> -->
            <td>data3</td>
            <td>data4</td>
        </tr>
        <tr>
            <td>data1</td>
            <!-- <td>data2</td> -->
            <td>data3</td>
            <td>data4</td>
        </tr>
        <tr>
            <td>data1</td>
            <!-- <td>data2</td> -->
            <td colspan="2">data3</td>
            <!-- <td>data4</td> -->
        </tr>
    </table>

    <!-- <video src="" controls autoplay muted loop></video>
    <audio src="" controls autoplay muted loop></audio> -->

    <ul>
        <li>item1</li>
        <li>item2</li>
        <li>item3</li>
    </ul>
    <ol>
        <li>item1
            <ul>
                <li>item1</li>
                <li>item2</li>
                <li>item3</li>
            </ul>
        </li>
        <li>item2</li>
        <li>item3</li>
    </ol>

    <!-- 
    <dl>
        <dt>HTML</dt>
        <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus minus beatae iste ratione. Incidunt a
            cupiditate facere asperiores architecto soluta facilis et omnis hic obcaecati corrupti dolore, sunt
            perferendis veritatis.</dd>
        <dt>CSS</dt>
        <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus minus beatae iste ratione. Incidunt a
            cupiditate facere asperiores architecto soluta facilis et omnis hic obcaecati corrupti dolore, sunt
            perferendis veritatis.</dd>
        <dt>Tailwind</dt>
        <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus minus beatae iste ratione. Incidunt a
            cupiditate facere asperiores architecto soluta facilis et omnis hic obcaecati corrupti dolore, sunt
            perferendis veritatis.</dd>
        <dt>HTML</dt>
        <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus minus beatae iste ratione. Incidunt a
            cupiditate facere asperiores architecto soluta facilis et omnis hic obcaecati corrupti dolore, sunt
            perferendis veritatis.</dd>
    </dl> -->


    <form>
        <label>Enter your name : </label>
        <input type="text">
    </form>


    <table>
        <tr>
            <th>Enter your name </th>
            <td><input type="text"></td>
        </tr>
        <tr>
            <th>Enter your name </th>
            <td><input type="text"></td>
        </tr>
        <tr>
            <th>Enter your name </th>
            <td><input type="text"></td>
        </tr>
        <tr>
            <th>Enter your name </th>
            <td><input type="text"></td>
        </tr>
        <tr>
            <th>Enter your name </th>
            <td><input type="text"></td>
        </tr>
        <tr>
            <th>Enter your name </th>
            <td><input type="text"></td>
        </tr>
    </table>
</body>

</html>

<!-- text="" -->